<div class="mobile-menu-left-overlay"></div>
<nav class="side-menu">
	    <ul class="side-menu-list">
	        <li class="grey">
	            <span>
	                <i class="font-icon font-icon-dashboard"></i>
	                <span class="lbl">Dashboard</span>
	            </span>
	           
	        </li>
	        <li class="purple" routerLink="drivers" routerLinkActive="menu-active">
	            <span>
	                <i class="font-icon font-icon-comments active"></i>
	                <span class="lbl">Drivers</span>
	            </span>
	            
			</li>
			<li class="blue" routerLink="trucks" routerLinkActive="menu-active">
	            <span>
	                <i class="font-icon glyphicon glyphicon-paperclip"></i>
	                <span class="lbl">Trucks</span>
	            </span>
	        </li>
	        <li class="red">
	            <a href="mail.html">
	                <i class="font-icon glyphicon glyphicon-send"></i>
	                <span class="lbl">Trailers</span>
	            </a>
	        </li>
	        <li class="gold">
	            <span>
	                <i class="font-icon font-icon-edit"></i>
	                <span class="lbl">Customers</span>
	            </span>
	        </li>
	        <li class="blue-dirty">
	            <a href="tables.html">
	                <span class="glyphicon glyphicon-th"></span>
	                <span class="lbl">Shippers</span>
	            </a>
	        </li>
	        <li class="magenta">
	            <span>
	                <span class="glyphicon glyphicon-list-alt"></span>
	                <span class="lbl">Receivers</span>
	            </span>
	        </li>
	        
	        <li class="pink-red">
	            <a href="activity.html">
	                <i class="font-icon font-icon-zigzag"></i>
	                <span class="lbl">Dispatch</span>
	            </a>
	        </li>
	        
	       
	        
	        
	    </ul>
	</nav><!--.side-menu-->